.contact {
    display: block;
    text-align: center;
}

.contact-us {
    border-bottom: 3px dotted lightskyblue;
    padding-bottom: 0.5rem;
}

.contact-method {
    border-width: 0.2rem;
    margin-top: 1rem;
    padding: 1rem 0;
    max-width: 360px;
    margin: auto;
}