.homepage {
    display: block;
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    color: lightskyblue;
}

.homepage-wel {
    border-bottom: 1px solid lightskyblue;
    padding: 1rem;
}

.homepage-message {
    max-width: 1000px;
    margin: auto;
    height: auto;
    text-align: center;
    font-size: large;
    font-weight: lighter;
}

.homepage img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
}